.BookingForm{
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.Dates{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}

.Peoples{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media only screen and (max-width: 557px){
    .Peoples{
        gap: 25px;
    }
}


.FormButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.DatePicker {
    border-radius: 5px;
}

@media only screen and (max-width: 768px){
    .DatePicker input {
        padding-right: 36px!important;
    }
}

.DatePicker input {
    padding: 13px 7px;
    font-size: 14px;
}

.DatePicker label {
    /*padding: 6px 7px;*/
    font-size: 14px;
    top: -2px;
}

.Adults {
    display: flex;
    position: relative;
    align-items: center;
    height: 46px;
    width: 241px;
    /*padding-left: 4px;*/
    user-select: none;
}

.InputNumber {
    width: 241px;
    height: 46px !important;
    padding: 6px 2px;
}

.InputNumber input {
    height: 100%;
    width: 100%;
    padding: 13px 7px;
    user-select: none;
}

.AdultsIcon {
    position: absolute;
    right: 45px;
    top: 14px;
}

.ChildsIcon {
    position: absolute;
    right: 45px;
    top: 12px;
    font-size: 22px;
}

.IncDec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    position: absolute;
    top: 5px;
    right: 15px;
    height: 100%;
}

.IncDec span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.IncDec span:nth-child(2) {
    font-size: 30px;
}

.Modal{
    width: 100vw;
    height: 100vh;
}

.OtherConfig{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

}

.Left, .Right{
    width: 257px;
    padding-left: 8px;
}

.Left span{
    font-size: 15px;
}

.Right span{
    font-size: 15px;
}

.Childs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ChildsAge{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    white-space: nowrap;
}
