.Banner{
    height: 700px;
}

.aboutBanner {
    position: relative;
    width: 100vw!important;
    min-height: 400px!important;
    overflow: hidden;
}

@media only screen and (max-width: 650px) {
    .aboutBanner {
        min-height: 250px!important;
    }
}

@media only screen and (max-width: 480px) {
    .aboutBanner {
        min-height: 200px!important;
    }
}

.aboutBannerImg{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.aboutHeading{
    position: absolute;
    bottom: 10%;
    /*left: 10%;*/
    color: #fff;

}

.aboutHeading h1{
    font-family: Arial Helvetica sans-serif !important;
    font-size: 80px;
}
