.image{
  margin: 0 auto;
  max-width: 400px;
  max-height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img{
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 991px){
  .image {
    max-height: 350px;
  }
}