.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header  h3{
    margin: 0;
}

.NewsAddButton{
    display: flex;
    align-items: center;
    gap: 20px;
}

.NewsTable{
    padding-top: 30px;
    max-height: calc(100vh - 180px);
}

.actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Images{
    height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Images img{
    height: 60px;
    width: auto;
}


