.DatePicker {
    border-radius: 5px;
}

.DatePicker input {
    padding: 10px 7px;
    font-size: 14px;
}

.DatePicker label {
    top: -6px;
}

.AddOrder {
    padding: 20px;
}

.AddOrderBody {
    display: flex;
    gap: 15px;
}

.Left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Center {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
}

.DropDown {
    min-width: 200px;
}

.DropDown:focus ~ label {
    color: red!important;
}


.RightInner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
}

.FormBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.GuestItem {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px #c7c6c6 solid;
    padding: 5px;
    border-radius: 5px;
    width: 870px;
}

.GuestItemArea {
    width: 200px;
}

.MultiLine textarea::-webkit-scrollbar {
    width: 10px !important;
}

.MultiLine textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.MultiLine textarea::-webkit-scrollbar-thumb {
    background: #1976d2;
    border-radius: 10px;
}

.AddButton {
    display: flex;
    gap: 10px;
}